
@font-face{
    font-family: 'TTLakes';
    src: url(fonts/TTLakes-Medium.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'TTLakes';
    src: url(fonts/TTLakes-Bold.ttf);
    font-weight: 900;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.nav{
    position: fixed;
    max-width: 320px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: 'TTLakes', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #1B1C21;
}
.circle-btn--close{
    background-image: url(icons/close.svg);
}
.circle-btn--search{
    background-image: url(icons/search.svg);
}
.circle-btn--phone{
    background-image: url(icons/phone.svg);
}
.circle-btn--chat{
    background-image: url(icons/chat.svg);
}
.circle-btn--profile{
    background-image: url(icons/profile.svg);
}
.circle-btn{
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    outline: none;
    border: none;   
}
.circle-btn:hover{
    cursor: pointer;
    filter: grayscale(0.5) hue-rotate(45deg);
    transition: 0.5s;
}
.circle-btn:focus{
    filter: grayscale(0.5) hue-rotate(45deg);
    transition: 0.5s;
}

.logo:hover,
.logo:focus{
    filter: contrast(4);
    transition: 1s; 
}
.nav__header{
    display: flex;
    padding-left: 24px;
    padding-top: 23px;
}
.nav-header__logo{
    padding-left: 17px;
    padding-right: 79px;
}

.nav__list{
    flex: 1 0 auto;
    list-style: none;
    padding-left: 24px;
    padding-top: 50px;
}
.nav__footer{
    flex: 0 0 auto;
    padding-left: 24px;
}
.nav-footer__menu{
    list-style: none;
    display: flex;
    padding: 0;
}
.nav-footer__contacts{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.nav-footer__languages{
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 40px;
}
.nav-footer__item{
    margin-right: 16px;
}
.nav__link{
    position: relative;
}
.link{
    outline: none;
    text-decoration: none;
    color: inherit;
}
.link:visited{
    color:  #1B1C21;
}
.nav__item{
    padding-bottom: 32px;
}
.nav__link:hover::before,
.nav__link:focus:before{
    content: "";
    background-color: #41F6D7;
    width: 4px;
    height: 32px;
    position: absolute;
    top: -6px;
    left: -24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-footer-contacts__item_phone-number{
    font-size: 24px;
    font-weight: 900;
    padding-top: 12px;
}
.nav-footer__language{
    padding-right: 7px;
}
.nav-footer__language-link:hover,
.nav-footer__language-link:focus{
    color: #7E7E82;
}
.nav__link:hover,
.nav__link:focus{
    color: #7E7E82;
}
